# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\qianggou\code-parent\code-parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
